<div class="row">
  <form [formGroup]="newPasswordForm" (ngSubmit)="updatePassword()" 
    class="col-sm-4 text-center offset-sm-4"
    >
    <h2 class="text-primary">New password</h2>
    <hr />
  
    <!-- Begin input password -->
    <div class="form-group">
      <input
        [ngClass]="{
          'is-invalid': newPasswordForm.get('password').errors && newPasswordForm.get('password').touched
        }"
        type="password"
        class="form-control"
        placeholder="Password"
        formControlName="password"
      />
      <div class="invalid-feedback" *ngIf="newPasswordForm.get('password').hasError('required')">
        Password is required
      </div>
  
      <div class="invalid-feedback" *ngIf="newPasswordForm.get('password').hasError('minlength')">
        Password must be at least 8 characters
      </div>
      <div class="invalid-feedback" *ngIf="newPasswordForm.get('password').hasError('maxlength')">
        Password cannot excedd 12 characters
      </div>
    </div>
    <!-- End input password -->
  
    <!-- Begin input confirmPassword -->
    <div class="form-group">
      <input
        [ngClass]="{
          'is-invalid':
            (newPasswordForm.get('confirmPassword').errors && newPasswordForm.get('confirmPassword').touched) ||
            (newPasswordForm.hasError('mismatch') && newPasswordForm.get('confirmPassword').touched)
        }"
        type="password"
        class="form-control"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
      <div class="invalid-feedback" *ngIf="newPasswordForm.get('confirmPassword').hasError('required')">
        Confirm Password is required
      </div>
      <div class="invalid-feedback" *ngIf="newPasswordForm.hasError('mismatch')">
        Not match
      </div>
    </div>
    <!-- End input confirmPassword -->
  
    <!-- button control form submit or hide form -->
    <div class="form-group">
      <button class="btn btn-success mr-2" type="submit" [disabled]="newPasswordForm.invalid">
        Update
      </button>
      <button class="btn btn-default btn-outline-dark" type="reset" (click)="cancel()">
        Cancel
      </button>
    </div>
    <!--  -->
  </form>
  
</div>
