
<div class="chat-body">
  <div class="wrap">
    <div class="contact-profile">
      <img src="{{ this.userToChat.mainPhotoUrl || '../../../../assets/default.png'}}" />
      <p>{{ this.userToChat.username }}</p>
      <!-- <div class="social-media">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
       <i class="fa fa-instagram" aria-hidden="true"></i>
    </div> -->
    </div>
  </div>
  <div class="messages">
    <ul id="mainContents" [style.height.px]="innerHeight" #mainContents>
      <!-- <li class="sent">
        <img src="{{'../../../../assets/default.png'}}" />
        <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
      </li>
      <li class="replies">
        <img src="{{'../../../../assets/default.png'}}" />
        <p>When you're backed against the wall, break the god damn thing downWhen you're backed against the wall, break
          the god damn thing downWhen you're backed against the wall, break the god damn thing downWhen you're backed
          against the wall, break the god damn thing downWhen you're backed against the wall, break the god damn thing
          downWhen you're backed against the wall, break the god damn thing downWhen you're backed against the wall,
          break the god damn thing downWhen you're backed against the wall, break the god damn thing downWhen you're
          backed against the wall, break the god damn thing down.</p>
      </li> -->

      <li *ngFor="let message of this.messages; let i = index; let lastcall=last" [ngClass]="isSent(message.userId)"
        id="list-message-{{i}}"
      >
        <p>{{ message.content }}</p>
      </li>
      <li style="margin-bottom: 15px;"></li>
      <li style="margin-bottom: 15px;"></li>
    </ul>
  </div>
</div>

<div class="message-input">
  <div class="wrap row">
    <div>
      <button class="ml-2" (click)="toggleEmojiPicker()">
        @
      </button>

      <emoji-mart class="emoji-mart" set="emojione" (emojiSelect)="addEmoji($event)" *ngIf="showEmojiPicker"
        [ngClass]="{
          'active-emoji': this.showEmojiPicker
        }" title="Pick your emoji…"></emoji-mart>
    </div>
    <div class="col-10">
      <input type="text" [(ngModel)]="contentMessage" (keyup.enter)="sendMessage()"
        placeholder="Write your message..." />
    </div>

    <!-- <i class="fa fa-paperclip attachment" aria-hidden="true"></i> -->

    <div class="col-1">
      <button class="button" (click)="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
