<form [formGroup]="resetForm" (ngSubmit)="getTokenReset()" class="text-center">
  <h2 class="text-primary">Reset Password</h2>
  <hr />

  <!-- Begin input username -->
  <div class="form-group">
    <input [ngClass]="{
        'is-invalid': resetForm.get('email').errors && resetForm.get('email').touched
      }" type="text" class="form-control is-invalid" placeholder="Email" formControlName="email" />

    <div class="invalid-feedback" *ngIf="resetForm.get('email').hasError('required')">
      Email is required
    </div>
    <div class="invalid-feedback" *ngIf="resetForm.get('email').hasError('pattern')">
      Input not a email
    </div>
  </div>
  <!-- End input Email -->

  <!-- button control form submit or hide form -->
  <div class="form-group">
    <button class="btn btn-success mr-2" type="submit" [disabled]="resetForm.invalid">
      Send token email
    </button>
    <button class="btn btn-default btn-outline-dark" type="reset" (click)="cancel()">
      Cancel
    </button>
  </div>
  <!--  -->
</form>
